// 默认值
//$accentColor = #3eaf7c                      // テーマカラー
$accentColor = #647ea0                      // テーマカラー
$textColor = #2c3e50                        // テキストの色
$borderColor = #eaecef                      // 境界線の色
$codeBgColor = #282c34                      // コードブロックの背景
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$sidebarOpenPageTextColor = #1d1f1c
$backgroundColor = #ffffff                  // フローティングブロックの背景色
